<html>
<body>
<%= render "sidebar" %>
<h1> Hello there how are you </h1>

</body>
</html>

<style>
    body {
        background-color: cornflowerblue;
        /* Add this padding so the content of the page does not overlap with the sidebar partial*/
        padding-left: 160px;
    }
</style>
