<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>A user has sent a message:</h1>
<p><b>User:</b> <%= @name %></p>
<p><b>Email:</b> <%= @email %></p>
<p><b>Phone:</b> <%= @phone %></p>
<p><b>Message:</b>: <%= @content %></p>

</body>