<html>
<head>
  <style>
      body {
          background-color: #242424;
          /* Add this padding so the content of the page does not overlap with the sidebar partial*/
          padding-left: 160px;
      }

      label {
          color: white;
      }

      .form-control {
          margin-top: 0;

      }

      .card {
          background-color: #242424;
          border-color: #121212;
          margin-left: 10px;
          margin-right: 10px;
      }

  </style>
</head>
<body>
<%= render partial: 'partials/sidebar', :locals => { :page => 'contact' } %>


<%= form_with do |form| %>
  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= form.text_field :content, :required => true, class: "form-control", placeholder: (I18n.t 'contact_placeholder') %>
      </div>

      <%= form.submit (I18n.t 'send'), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</body>
</html>


