label {
  color: white;
}

.center {
  border-radius: 15px;
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #121212;
  text-align: center;
}

h1 {
  color: #CCCCCC;
}

body {
  background-color: cornflowerblue;
}