.form-control {
  margin-top: 0;
  margin-bottom: 15px
}

.card {
  background-color: #242424;
  border-color: #121212;
  margin-left: 10px;
  margin-right: 10px;
  top: 0;
  padding: 0;
}

.card-body {
  top: 0;
  margin: 0;
}
