
body {
  font-family: "Lato", sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.sidenav {
  display: table-cell;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #121212;
  overflow-x: visible;
  padding-top: 20px;
  vertical-align: bottom;

  .active {
    color: white;
  }

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  a:hover {
    color: #f1f1f1;
  }
}

.bott {
  position: absolute;
  bottom: 0;
  width: 160px;
  padding-bottom: 30px;
}

hr {
  color: white;
}

